@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Nunito;
    line-height: 1.8rem;
}
body{
    background: url("https://www.geartranslations.com/blog/img/estrategias-de-traduccion.png") no-repeat center center/cover;
    text-align: center;
    position: relative;
    margin: auto;
    height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black; 
}

input[type='text'],textarea:focus{
    outline: none;
}

header,footer{
    text-decoration: underline 2px solid;
    color: rgb(11, 13, 15);
    padding: 0.8rem;
}
#convertThis{
    border: 3px solid blueviolet;
}
#convertThis:hover{
    transform:scale(0.99);
}
.hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(75, 73, 73);
    border-radius: 2px;
    flex-direction: column;
    padding:0.5rem;
    opacity: 0.9;
    box-shadow: 8px 8px rgb(27, 27, 27) ;
    border: 2px solid black;
    width: 600px;
}
.hero .container >*{
    margin-bottom: 1rem;
    padding: 6px;
    border: 0.8px solid rgb(24, 23, 23);
    border-radius: 3px;
    width: 100%;
    background:whitesmoke;
    min-height: 20px;
    box-shadow: 2px 2px black; 
}
#contentBox{
    display: flex;
    flex-direction: column;
} 
#contentBox>*{
    margin-bottom: 10px;
}
#output{
    min-height: 100px;
    border: 1px solid black;
}
.data{
    padding: 0.8rem;
}
#warn{
    color: rgb(238, 74, 9);
}
.btn{
    padding: 10px;
    font-weight: 800;
    display: inline-block;
    cursor: pointer;
    font-style: 17px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.btn:hover{
    color: rgb(178, 6, 212);
    transform: translateY(1px);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer li{
    padding:10px;
    border-right: 2px solid blueviolet;
}
footer a{
    cursor: pointer;
}

/* mobile */
@media screen and (max-width:650px) {
    .hero .container{
        width:350px;
    }
}

