@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Nunito;
    line-height: 1.8rem;
}
body{
    background: url("https://www.geartranslations.com/blog/img/estrategias-de-traduccion.png") no-repeat center center/cover;
    text-align: center;
    position: relative;
    overflow: auto;
    margin: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    
}

input[type='text'],textarea:focus{
    outline: none;
}

header,footer{
    text-decoration: underline 2px solid;
    color: rgb(11, 13, 15);
    padding: 20px;
}
#tester
{
    color: rgb(14, 175, 36);
}
.btn{
    padding: 10px 0;
    font-weight: 800;
}
.btn:hover{
    color: rgb(178, 6, 212);
}
.hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;
    margin: auto;
}
.hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(75, 73, 73);
    border-radius: 2px;
    flex-direction: column;
    padding:20px;
    opacity: 0.9;
    box-shadow: 8px 8px rgb(27, 27, 27) ;
    border: 2px solid black;
    width: 600px;
}
.hero .container >*{
    margin-bottom: 15px;
    padding: 6px 8px;
    border: 0.8px solid rgb(24, 23, 23);
    border-radius: 3px;
    width: 100%;
    background:whitesmoke;
    min-height: 40px;
    box-shadow: 2px 2px black; 
}
#box1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#box2{
    grid-template-columns: 1fr;
    gap: 8px;
    display: none;
}
#output{
    min-height: 130px;
    border: 1px solid;
}
.data{
    padding: 50px 30px;
}
#page{
    color: rgb(238, 74, 9);
}
/* mobile */
@media screen and (max-width:650px) {
    .hero .container{
        width:400px;
    }
}

